version: "3.9"

services:
  db:
    image: postgres:16
    container_name: expense_db
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: expense_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build: .
    container_name: expense_api
    restart: always
    depends_on:
      - db
    environment:
      DATABASE_URL: postgres://user:password@db:5432/expense_db?sslmode=disable
      JWT_SECRET: qazxswedcvfrtgbnhyujmkiolp
    ports:
      - "8080:8080"

volumes:
  postgres_data:
